<div class="container">
  <div class="header">
    <h1>Liste des Tâches</h1>
    <button mat-raised-button color="primary" (click)="openModal()">
      <mat-icon>add</mat-icon>
      Ajouter une tâche
    </button>
  </div>
  
  <div class="table-container">
    <ng2-smart-table 
      [settings]="settings" 
      [source]="todos"
      (custom)="onCustomAction($event)">
    </ng2-smart-table>
  </div>

  <app-todo-modal 
    *ngIf="showModal"
    [todo]="selectedTodo"
    [persons]="persons"
    (save)="onSave($event)"
    (close)="closeModal()">
  </app-todo-modal>
</div>
