<div class="container">
  <div class="header">
    <h1>{{ 'persons.title' | transloco }}</h1>
    <button mat-raised-button color="primary" (click)="openModal()">
      <mat-icon>add</mat-icon>
      {{ 'persons.addButton' | transloco }}
    </button>
  </div>
  
  <div class="table-container">
    <ng2-smart-table 
      [settings]="settings" 
      [source]="persons"
      (custom)="onCustomAction($event)">
    </ng2-smart-table>
  </div>

  <app-person-modal 
    *ngIf="showModal"
    [person]="selectedPerson"
    (save)="onSave($event)"
    (close)="closeModal()">
  </app-person-modal>
</div>
